{% extends app['twig_theme'] ~ '/' ~ 'layout.twig' %}
{% import  app['twig_theme'] ~ '/macro/iptw_macro.twig' as main_macro %}

{% set title = 'Subscribe log'|trans ~ ( attribute( app, 'currentUser' ) is defined ? (': ' ~ 'Log of user'|trans ~ " " ~ app.currentUser.name ~ " (" ~ app.currentUser.mac ~ ")" ) | trans : '') %}


{% block footer %}
    {{ parent() }}

    <script type="text/javascript" defer>
       
        {% include (app.twig_theme ~ "/Tariffs/subscribe_log/subscribe_log.js") %}

    </script>
{% endblock %}


{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ main_macro.get_filter('state', 'State'|trans, 'id', 'title', app['allPackageStates']) }}
                {{ main_macro.get_filter('initiator', 'Initiator'|trans, 'id', 'title', app['allInitiatorRoles']) }}
                {{ main_macro.get_filter('package', 'Package name'|trans, 'id', 'title', app['allPackageNames']) }}
            </div>
        </div>

        <div class="row">
            <div class=" ">
                <div class="box">
                    {% if attribute(app, 'dropdownAttribute') is defined %}
                        {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                    {% endif %}
                    <div class="box-content">
                        <div class="box-content no-padding">
                            <div class="dataTables_processing"></div>
                            <table class="table  table-hover table-datatable" id="datatable-1">
                                {% if attribute(app, 'dropdownAttribute') is defined %}
                                    {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                {% endif %}
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}