{% extends app['twig_theme'] ~ '/' ~ 'layout.twig' %}
{% import (app['twig_theme'] ~ '/macro/iptw_macro.twig') as main_macro %}

{% set title = ('IPTV channels'|trans ~ ': ' ~ 'genres list'|trans) | trans %}

{% block footer %}
    {{ parent() }}

    {% include app['twig_theme'] ~ '/' ~ "basic_templates/file-uploader-scripts.twig" %}
    
    <script type="text/javascript" defer>
       
        {% include app['twig_theme'] ~ "/TvChannels/m3u_import/m3u_import.js" %}

    </script>
{% endblock %}


{% block content %}
    <div id="iptv_list">
        <div class="row" style="background: #fff none repeat scroll 0 0;">
            <div class="box">
                <div class="box-content" id="add_channel_base">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <div class="col-xs-5 col-sm-5">
                                <div id="fileupload" class="pull-left">
                                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                    <div class="fileupload-buttonbar">
                                        <div class="fileupload-buttons">
                                            <!-- The fileinput-button span is used to style the file input field as button -->
                                            <span class="fileinput-button btn btn-success">
                                                <span>{{ 'Add a file'|trans }}</span>
                                                <input type="file" name="files" style="opacity: 0;">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-5 col-sm-5 pull-right">
                                <button id="clean_channels" class="btn btn-danger  pull-right">{{ 'Clean channels'|trans }}</button>
                                <button id="save_channels" class="btn btn-success  pull-right">{{ 'Save channels'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="display: none;">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-content">
                        <h4 class="text-danger center" id="warning_message"></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="channels_container">

            </div>
        </div>
    </div>

    
    {# This template is for component script. It is left as was originally. *For clarity maybe good to change container tag to DIV. #}

    <script type="text/template" id="channel-template" >
        <div class="box" style="display: none;">
            <div class="box-content">
                <form>
                    <div class="row">
                        <div class="col-xs-1">
                            <div class="form-group">
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'Channel number'|trans }}</span>
                                </span>
                                <div class=" col-xs-12">
                                    <input type="text" name="number" class="form-control own_field" data-validation="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'Channel name'|trans }}</span>
                                </span>
                                <input type="text" class="form-control own_field" name="name" data-validation="required">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'Streaming links'|trans }}</span>
                                </span>
                                <input type="text" class="form-control own_field" name="cmd" data-validation="required">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'Genre'|trans }}</span>
                                </span>
                                <select class="populate placeholder own_field" name="tv_genre_id" data-validation="required">
                                    {% if app['allGenres'] %}
                                        {% for s_item in app.allGenres %}
                                            <option value="{{ s_item.id }}">{{ s_item.title }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'Basic channel'|trans }}</span>
                                </span>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" name="base_ch" class="own_field">
                                        <i class="fa fa-square-o small"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'Age restriction'|trans }}</span>
                                </span>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" name="censored" class="own_field">
                                        <i class="fa fa-square-o small"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group pull-left">
                                <button class="btn btn-success" type="submit"><i class="fa fa-check"></i></button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-danger " type="button" data-action="delete"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>

{% endblock %}