{% extends app['twig_theme'] ~ '/' ~ 'layout.twig' %}
{% import  app['twig_theme'] ~ '/macro/iptw_macro.twig' as main_macro %}

{% set title = 'events' %}
{% set title = 'Events'|trans ~ ': ' ~ 'list of events '|trans ~ (attribute(app, 'currentUser') is defined ? "user"|trans ~ " - " ~ app.currentUser.name ~ "(" ~ app.currentUser.mac ~ ")": '') %}


{% block footer %}
    {{ parent() }}
    
    {% include (app['twig_theme'] ~ '/' ~ "basic_templates/events_menu.twig") %}

    <script type="text/javascript" defer>
       
        {% include (app.twig_theme ~ "/Events/events/events.js") %}

    </script>
{% endblock %}


{% block content %} 
    
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ main_macro.get_filter('event', 'Event'|trans, 'id', 'title', app['allEvent']) }}
                {{ main_macro.get_filter('sended', 'Delivery status'|trans, 'id', 'title', app['sendedStatus'], 5, 9) }}
                {{ main_macro.get_filter('ended', 'Receipt status'|trans, 'id', 'title', app['receivingStatus'], 5, 9) }}

                <a id="add_events" href="#" class="btn btn-success pull-right no_context_menu">{{ 'Create new event'|trans }}</a>

                {% if attribute(app, 'currentUser') is defined %}
                    <a id="clean_events" href="#" class="btn btn-danger pull-right no_context_menu" data-uid="{{ app.currentUser.uid }}">{{ 'Clean'|trans }}</a>
                {% else %}
                    <a id="clean_events" href="#" class="btn btn-danger pull-right no_context_menu" data-uid="all">{{ 'Clean all'|trans }}</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="box">
                {% if attribute(app, 'dropdownAttribute') is defined %}
                    {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                {% endif %}
                <div class="box-content">
                    <div class="box-content no-padding">
                        <div class="dataTables_processing"></div>
                        <table class="table  table-hover table-datatable" id="datatable-1">
                            {% if attribute(app, 'dropdownAttribute') is defined %}
                                {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                            {% endif %}
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
