{% extends app['twig_theme'] ~ '/' ~ 'layout.twig' %}
{% import  app['twig_theme'] ~ '/macro/iptw_macro.twig' as main_macro %}

{% set title = 'Storage'|trans ~ ': ' ~ 'storages list'|trans %}


{% block footer %}
    {{ parent() }}

    <script type="text/javascript" defer>
       
        {% include (app.twig_theme ~ "/Storages/storages_list/storages_list.js") %}

    </script>
{% endblock %}


{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class=" pull-right">
                    <a href="{{ app.request_context.baseUrl }}/{{ app.controller_alias }}/add-storage" class="btn btn-success pull-right no_context_menu" id="add_storage">{{ 'Add storage'|trans }}</a>
                </div>
                <div class="pull-right">
                    <a href="{{ app.request_context.baseUrl }}/{{ app.controller_alias }}/reset-cache" class="btn btn-default  pull-right main_ajax no_context_menu" data-id="all">{{ 'Clean the cache'|trans }}</a>
                </div>
                <div class="pull-right">
                    <a href="{{ app.request_context.baseUrl }}/{{ app.controller_alias }}/refresh-cache" class="btn btn-default pull-right main_ajax no_context_menu" data-id="all">{{ 'Update the cache'|trans }}</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="auto-height">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-sm-offset-2 text-center bg-warning">
                                <span class="text_black">{{ 'Clean the cache – remove all content from cache'|trans }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-sm-offset-2 text-center bg-warning">
                                <span class="text_black">{{ 'Update the cache – receive new information about all content in the storage'|trans }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="no-move"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                {% if attribute(app, 'dropdownAttribute') is defined %}
                    {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                {% endif %}
                <div class="box-content">
                    <div class="box-content no-padding">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <table class="table  table-hover table-datatable" id="datatable-1">
                                    {% if attribute(app, 'dropdownAttribute') is defined %}
                                        {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                    {% endif %}
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                        
    <div id="modalbox_ad">
        <div class="devoops-modal save_storage">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span></span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <form class="form-horizontal" role="form" action="{{ app.request_context.baseUrl }}/{{ app.controller_alias }}/save-storage" id="karaoke_form">
                <div class="devoops-modal-inner">
                    <div class="box">
                        <a class="collapse-link">
                            <div class="box-header">
                                <div class="box-name">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-4">
                                            <span>{{ 'General information'|trans }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-icons">
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                                <div class="no-move"></div>
                            </div>
                        </a>
                        <div class="box-content">
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Title'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="hidden" title="" value="" name="form[id]">
                                        <input class="form-control" type="text" title="" data-validation=required value="" name="form[storage_name]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small default">{{ 'You can use letters, digits and symbols from the list: ! @ # $ % ^ & * ( ) _ - + : ; , .'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'IP'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" data-validation=required value="" name="form[storage_ip]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'IP-address of the storage. Example : http://127.0.0.1'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Apache port'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" data-validation=required value="88" name="form[apache_port]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Number of the port, accessing to the Apache server'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Home directory'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" value="" name="form[nfs_home_path]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Home directory where the catalogues and symbol links will be created Example: /home/username/slash_folder'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Maximum of the users'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" value="" name="form[max_online]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Maximum quantity of the users, which can watching the content from the storage at the same time'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <a class="collapse-link">
                            <div class="box-header">
                                <div class="box-name">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-4">
                                            <span>{{ 'Additional information'|trans }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-icons">
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                                <div class="no-move"></div>
                            </div>
                        </a>
                        <div class="box-content" id="Additional_information">
                            <div class="row"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Content storage'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[for_simple_storage]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Allow content storage'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'TV recording'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[for_records]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Allow TV recording'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Flussonic DVR'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[flussonic_dvr]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Wowza DVR'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[wowza_dvr]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Nimble DVR'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[nimble_dvr]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Emulation'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[fake_tv_archive]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'The emulation mode is used in case when two portals are attached to a single storage of TV archive. It is necessary to set the recording of TV archive at the first portal, and TV archive recording with the option of emulation at the second one. Thus, there will be two portals with the archive, though in fact it is recorded once.'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Stream server'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <select id="file_stream_server_type" name="form[stream_server_type]" class="populate placeholder own_fields">
                                            <option value="">&nbsp;</option>
                                            <option value="flussonic">Flussonic</option>
                                            <option value="wowza">Wowza</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Stream server port'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" data-validation=required value="1935" placeholder="1935" id="file_stream_server_port" name="form[stream_server_port]">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Stream server App'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" data-validation=required value="" id="file_stream_server_app" name="form[stream_server_app]">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Filter'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" value="" name="form[user_agent_filter]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'You can filter the STBs according to their connection type (Wi-Fi, Ethernet) and to the models (250,275…). Field is case sensitive'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Access restriction'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-2">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[for_moderator]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Only moderators can watch the content from the storage'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Not available for the MAG100'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-2">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[not_for_mag100]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Storage is not available on the MAG100'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="devoops-modal-bottom">
                    <div class="box">
                        <div class="box-content">
                            <div class="row">
                                <div class="col-xs-10 col-sm-6 pull-right">
                                    <button type="submit" class="btn btn-success col-sm-5 pull-right" id="save_button">{{ 'Save'|trans }}</button>
                                    <button type="reset" class="btn btn-default col-sm-5 pull-left"> {{ 'Cancel'|trans }} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}