{% extends app['twig_theme'] ~ '/' ~ 'layout.twig' %}
{% import  app['twig_theme'] ~ '/macro/iptw_macro.twig' as main_macro %}

{% set title = ('Information portal'|trans ~ ': ' ~ 'Humor'|trans) | trans %}


{% block footer %}
    {{ parent() }}
    
    <script type="text/javascript" defer>
       
        {% include app.twig_theme ~ "/Infoportal/humor/humor.js" %}

    </script>
{% endblock %}


{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{ app.request_context.baseUrl }}/{{ app.controller_alias }}/add-humor-item" class="btn btn-success pull-right no_context_menu" id="add_humor_item">{{ 'Add'|trans }}</a>
            </div>
        </div>
        <div class="row">
            <div class="">
                <div class="box">
                    {% if attribute(app, 'dropdownAttribute') is defined %}
                        {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                    {% endif %}
                    <div class="box-content">
                        <div class="box-content no-padding">
                            <div class="dataTables_processing"></div>
                            <table class="table  table-hover table-datatable" id="datatable-1">
                                {% if attribute(app, 'dropdownAttribute') is defined %}
                                    {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                {% endif %}
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalbox_ad">
        <div class="devoops-modal">
            <form class="form-horizontal" role="form" id="anek_form" action="{{ app.request_context.baseUrl }}/{{ app.controller_alias }}/save-humor-item">
                <div class="devoops-modal-header">
                    <div class="modal-header-name">
                        <span></span>
                    </div>
                    <div class="box-icons">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="devoops-modal-inner">
                    <div class="box">
                        <div class="box-content">
                            <!-- name -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-xs-offset-1">{{ 'Text'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8 no-padding">
                                    <div class=" col-xs-10 col-sm-10 ">
                                        <input type="hidden" name="id" class="own_fields">
                                        <textarea required="required" name="anec_body" data-validation=required  class='own_fields form-control'></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="devoops-modal-bottom">
                    <div class="box">
                        <div class="box-content">
                            <div class="row">
                                <div class="col-xs-10 col-sm-6 pull-right">
                                    <button type="submit" class="btn btn-success col-sm-5 pull-right">{{ 'Save'|trans }}</button>
                                    <button type="reset" class="btn btn-default col-sm-5 pull-left" > {{ 'Cancel'|trans }} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}
