{% extends app['twig_theme'] ~ '/' ~ 'layout.twig' %}
{% import  app['twig_theme'] ~ '/macro/iptw_macro.twig' as main_macro %}

{% set title = 'Audio club'|trans ~ ': ' ~ 'years list'|trans %}


{% block footer %}
    {{ parent() }}
    
    <script type="text/javascript" defer>
       
        {% include (app.twig_theme ~ "/AudioClub/audio_years/audio_years.js") %}

    </script>
{% endblock %}


{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{app.request_context.baseUrl}}/{{app.controller_alias}}/add-audio-years" class="btn btn-success pull-right no_context_menu" id="add_audio_years">{{ 'Add year'|trans }}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="box-content">
                        <div class="box-content no-padding">
                            <div class="row">
                                <div class="dataTables_processing"></div>
                                <table class="table  table-hover table-datatable" id="datatable-1">
                                    {% if attribute(app, 'dropdownAttribute') is defined %}
                                        {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                    {% endif %}
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {# This template is for component script. It is left as was originally. *For clarity maybe good to change container tag to DIV. #}

    <script type="text/template" id="modal_del_body">
        <div class="col-md-12">
            <span class="col-md-12 txt-default">{{ 'Do you really want delete this year?'|trans }}</span>
        </div>
    </script>

    <script type="text/template" id="modal_del_buttons">
        <div class="pull-right no-padding">
            <a id="del_year_btn" type="button" class="main_ajax btn btn-danger pull-right no_context_menu" href='{{ app.request_context.baseUrl }}/{{ app.controller_alias }}/remove-audio-years'>{{ 'Delete'|trans }}</a>
            <button type="reset" id="del_year_button" class="btn btn-success pull-right">{{ 'Cancel'|trans }}</button>
        </div>
    </script>

{% endblock %}